{{~#if
  (or 
    (gt this.actions.length 0)
    (eq this.type "custom")
  )~}}
<div class="tah-subcategory">
<div class="tah-subtitle" id="{{this.id}}" data-category-id="{{categoryId}}">
  {{~#if img~}}<div class="tah-img" style="background: url({{img}}) no-repeat center center; background-size:contain"></div>{{~/if~}}
  {{~#if icon~}}<div class="tah-icon">{{{icon}}}</div>{{~/if~}}
  {{cap this.name}}
  {{~#if this.info1~}}<div class="tah-info1">{{this.info1}}</div>{{~/if~}}
  {{~#if this.info2~}}<div class="tah-info2">{{this.info2}}</div>{{~/if~}}
    <div class="tah-filterholder">
      <i class="fa fa-filter" aria-hidden="true"></i>
    </div>
</div>
<div class="tah-actions{{~#if actionsClass}} {{actionsClass}}{{~/if~}}">
  {{#each actions}}
    {{~#if this.set~}}
      {{>"modules/token-action-hud/templates/actionSet.hbs"}}
    {{~else~}}
      {{>"modules/token-action-hud/templates/action.hbs"}}
    {{~/if~}}
  {{/each}}
</div>
</div>
{{~/if~}}
{{~#if this.subcategories~}}
{{#each subcategories}}
{{>"modules/token-action-hud/templates/subcategory.hbs"}}
{{/each}}
{{~/if~}}