
<div id="{{id}}" style="top: {{top}}; left: {{left}}; {{~#if background~}}background: {{background}};{{~/if~}} transform: scale({{scale}}); transform-origin: top left">
    {{~#if actions.actorId~}}
    <div id="tah-collapse-expand">
        <button id="tah-collapse-hud">
            <i class="fas fa-caret-left"></i>
        </button>
        <button id="tah-expand-hud" class="tah-hidden">
            <i class="fas fa-caret-right"></i>
        </button>
    </div>
    <div id="tah-categories">
      {{~#if actions.hudTitle~}}
      <div id="tah-character-name">{{actions.hudTitle}}</div>
      {{~/if~}}
      {{#each actions.categories}}
      {{>"modules/token-action-hud/templates/category.hbs" background=../background}}
      {{/each}}
    </div>
    {{#unless hovering}}
    <div id="tah-buttons">
      <div id="tah-edit-categories">
        <i class="fa fa-book"></i>
      </div>
    </div>
    {{/unless}}
    {{~/if~}}
</div>
